<div>
    Flight ID : @Model["flight_Id"]
    Flight Name : @Model["flightName"]
    Flight Number :  @Model["flightNumber"]
    ToLocation:@Model["ToLocation"]
    ArrivalTime:@Model["ArrivalTime"]
    Duration:@Model["Duration"]
    TotalSeat:@Model["TotalSeat"]
</div>
