<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/OnlineFlightBookingStyle.css" />
</head>
<body>
    <h1>ONLINE FLIGHT BOOKING</h1>
    <div class="menu">
        @Html.ActionLink("SignUp", "SignUp", "User")
        @Html.ActionLink("SignIn", "SignIn", "User")
        @RenderBody()
    </div>
</body>
</html>
