@model FlightMVC.Models.FlightModel

@{
    ViewBag.Title = "DeleteFlight";
}

<h2>DeleteFlight</h2>
<h3>Are you sure want to delete this?</h3>
<input type="submit" value="Register" />
@Html.ActionLink("Go back to DisplayFlight", "DisplayFlight", "Flight")

